.board_header_element_container {
    position: relative;
    display: flex;
    padding: 8px 15px;
    background: #174869;
    color: white;
    cursor: pointer;
}

.board_header_element_container.selected {
    background: #0b2e46;
}

.board_header_element_container
.name {
    font-size: 0.9rem;
    white-space: nowrap;
}

.board_header_element_container
.is_new {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background: #021d2e;
}

.board_header_element_container
.is_new.show {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
}
